public/configuration.php

/administrator/cache/*
public/cache/*
public/tmp/*


public/media/foundry/4.0/config/*
public/media/com_easysocial/config/*
public/media/com_easysocial/resources/*
public/templates/g5_hydrogen/custom/css-compiled/*
public/media/nextend/cache/*
public/media/nextend/n2/*
public/media/nextend/n2-ss-1/*
public/media/nextend/nextend-backend/*
public/media/nextend/nextend-frontend/*
public/media/nextend/nextend-webfontloader/*
public/media/nextend/smartslider-backend/*
public/media/nextend/smartslider-frontend/*
public/media/nextend/smartslider-simple-type-frontend/*
public/media/nextend/system-backend/*
