body div#fd.es.mod-es-dropdown-menu .dropdown-toggle-user-name{
	margin-left: 10px;
	letter-spacing: 1px;
}

body div#fd .label{
	line-height: 24px;
	padding: 5px;
}

#g-header div#fd.es .es-avatar{
        border-radius: 100%;
        border: 1px solid #3180c2;
}

body div#fd.es.mod-es-dropdown-menu .dropdown-toggle-user-name strong{     
	color: #fff;
}

#system-message .alert{
	margin: 0 25px;
}

.breadcrumb{
	margin-bottom: 0;
}

.breadcrumb-left .g-content{
	padding-top: 0;
	padding-bottom: 0;
}

.g-block.size-72 .g-content{
	padding-right: 0;
}

.g-offcanvas-toggle{
	font-size: 2rem;
}

.gantry-logo img{
	width:360px;
}

body div#fd.es.mod-es-dropdown-menu .mod-bd{
	float:right;
	min-height: 60px;
	padding-top: 5px;
}

div#fd.es .btn-sm{
	margin-right: 15px;
}

.ezb-mod .avatar{
	border: 0;
}

#mod_showcase .showcase-readmore a.showcase-button,
#mod_showcase .showcase-readmore a.showcase-button:hover{
	height: 32px;
}

#mod_showcase .showcase-navi a.item,
#mod_showcase a.showcase-more,
#mod_showcase a.showcase-more:hover{
	height: 28px;
}


/* Prizes */

.q2c-wrapper .thumbnail{
	padding: 10px;
}

.q2c-wrapper .hr-condensed{
	display: none;
}

.q2c-wrapper .form-horizontal{
	padding-top: 10px;
}

.q2c-wrapper .form-horizontal .control-label{
	width: 200px;
	padding-right: 20px;
}

#qtc_mainwrapper .controls{
}

#qtc_mainwrapper .controls input{
	min-width: 280px;
}

#qtc_mainwrapper .controls textarea{
	min-width: 360px;
}

.q2c-wrapper .form-horizontal .qtc_controls_text{
	font-weight: bold;
	color: #3180C2;
	margin-left: 10px;
	float: left;
}

.blog .q2c-wrapper{
	padding-bottom: 20px;
	border-bottom: 2px solid #eee;
}

.items-row.cols-2 .item{
	padding: 10px;
	border: 1px solid #eee;
	margin-bottom: 10px;
}

.article-info .article-info-term{
	display: none;
}

/* Articles */

.pull-left.item-image{
	max-width: 100%;
}

#eblog-wrapper #ezblog-menu{
	min-height: 32px;
}

#ezblog-menu.narrow .btn-eb-navbar{
	min-width: 40px;;
	min-height: 32px;
}

#ezblog-head .component-links{
	display: none;
}

/* Comments */

.comment-form .form-row .label{
	padding: 5px;
	font-size: 12px;
}

body #comment-form .inputbox{
	line-height: 24px;
	text-indent: 10px;
}

#comment-form .form-row label{
	display: inline;
}

#ezblog-body #button-related a{
	min-height: 37px;
}

/* Easy Discuss */

.discuss-head .fd-cf.mb-10{
	display: none;
}

div.discuss-mod.discuss-categories img.avatar{
	border: none;
	width: 50px;
	height: 50px;
}

div.discuss-mod.discuss-categories .item-avatar + .item-story{
	margin-left: 60px;
	line-height: 50px;
}

.discuss-mod-categories .item{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.discuss-mod-categories .toggleModuleCategories{
	margin-top: 0;
}

div.discuss-mod.latest-replies .item-info span img{
	display: none;
}

div.discuss-mod.latest-replies .item-question{
	font-size: 14px;
	max-height: 40px;
	overflow: hidden;
}

div.discuss-mod.latest-replies .small{
	font-size: 12px;
}
